<form action="" class="form-group">

  <div class="form-icon">
    <img src="assets/images/png/icon-hour.png" alt="Ícone horário">
    Horário
    </div>
    <h3>Qual horário você quer treinar?</h3>
    <div class="radio-wrapper">
    <input type="radio" name="morning" value="morning" id="morning">
      <label for="morning">Manhã </label>
      <span> 06:00 às 12:00</span>
    </div>

    <div class="radio-wrapper">
      <input type="radio" name="afternoon" value="afternoon" id="afternoon">
      <label for="afternoon">Tarde </label>
      <span> 12:01 às 18:00</span>
    </div>

    <div class="radio-wrapper">
      <input type="radio" name="night" value="night" id="night">
      <label for="night">Noite </label>
      <span> 18:01 às 23:00</span>
    </div>

    <div class="check-box">
      <input type="checkbox" name="show-closed" id="show-closed">
      <label for="show-closed">Exibir unidades fechadas</label>
      <span class="results">Resultados encontrados: {{results.length}}</span>
    </div>

  <div class="btn-wrapper">

    <button class="btn btn-find">Encontrar Unidade</button>

    <button class="btn btn-clean">Limpar</button>

  </div>

</form>
